# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata
.classpath
.project
bin/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# macOS
.DS_Store

# Fabric
run/
logs/
crash-reports/

# Minecraft
minecraft_server*.jar
server.properties
eula.txt
world/
